apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- k8s-logistica-deploy.yml

images:
- name: us-central1-docker.pkg.dev/saludtech-alpes/ccp-images/logistica
  newName: us-central1-docker.pkg.dev/ccp-perspicapps/ccp-images/logistica
  newTag: latest