name: Run CI/CD for python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  PROJECT_ID: ccp-perspicapps
  REGION: us-central1

permissions:
  contents: read

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v3
      with:
        python-version: "3.13.1"
    - name: Install pipenv
      working-directory: ./logistica
      run: pip install pipenv
    - name: Install dependencies      
      working-directory: ./logistica
      run: pipenv install --dev --system --deploy
    - name: Run unit tests
      working-directory: ./logistica
      run: pipenv run pytest --cov=. -v -s --cov-fail-under=70

  build:
    needs: test
    runs-on: ubuntu-latest
    outputs:
      version_tag: ${{ steps.generate_tag.outputs.version_tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Generate version tag
        id: generate_tag
        run: |
          SHORT_SHA=$(git rev-parse --short HEAD)
          DATE=$(date +'%Y%m%d')
          COMMITS_TODAY=$(git rev-list --count --after="midnight" HEAD)
          VERSION_TAG="v${DATE}.${COMMITS_TODAY}.${SHORT_SHA}"
          echo "version_tag=${VERSION_TAG}" >> $GITHUB_OUTPUT
          echo "Generated tag: ${VERSION_TAG}"

      - name: Auth gcp project
        uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}"

      - name: Set up cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Use gcloud CLI
        run: gcloud info

      - name: Artifact registry auth
        run: |
          gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev --quiet

      - name: Build image
        working-directory: ./logistica
        run: |
          docker build . --tag ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/ccp-images/logistica:${{ steps.generate_tag.outputs.version_tag }}
          docker build . --tag ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/ccp-images/logistica:latest

      - name: Push image to artifact registry
        run: |
          docker push ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/ccp-images/logistica:${{ steps.generate_tag.outputs.version_tag }}
          docker push ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/ccp-images/logistica:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Auth gcp project
        uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}"

      - name: Set up cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Get GKE credentials
        run: |
          gcloud container clusters get-credentials ccp-autopilot --region ${{ env.REGION }}

      - name: 'Set up Kustomize'
        working-directory: ./base
        run: |-
          curl -sfLo kustomize https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2Fv5.4.3/kustomize_v5.4.3_linux_amd64.tar.gz
          chmod u+x ./kustomize

      - name: 'Deploy to GKE'
        working-directory: ./base
        run: |-
          ./kustomize edit set image ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/ccp-images/logistica:latest=${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/ccp-images/logistica:${{ needs.build.outputs.version_tag }}
          ./kustomize build . | kubectl apply -f -
          kubectl rollout status deployment/logistica-api
          kubectl rollout status deployment/logistica-broker-consumer
          kubectl get services -o wide